@{
    ViewBag.Title = "Home Page";
}
@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Good Morning!</h1>
        <p class="lead">If this is another day at work grab a cup of coffee and log in. If this is your first day register an account with us and welcome to the team!</p>
    </div>

    <div class="row">
        <div class="col-md-6 another-day-at-work">
            <div>
                <h2>Another day at work</h2>
                <p>
                    @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
        <div class="col-md-6 welcome-in-our-team">
            <div>
                <h2>Welcome in our team</h2>
                <p>
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        <p class="lead">You have successfully logged in.</p>
    </div>
}