body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
label.error{
    color: red;
}

.input-validation-error,
input.error{
    border: 2px solid red;
}



.another-day-at-work .btn {
    height: 100%;
}

.another-day-at-work div {
    width: 80%;
    margin: 0 auto;
    padding: 6%;
}


.welcome-in-our-team div {
    width: 80%;
    margin: 0 auto;
    padding: 6%;
}

.jumbotron{
    background-color: rgba(255, 186, 21, 0.2);
}




